<div class="center">
    <h1 class="text-center">Change info:</h1>
    <form class="form" accept-charset="UTF-8" id="register-form" (ngSubmit)="changeInfo()" ngNativeValidate>
        <div class="form-group">
            <label>First name</label>
            <input [(ngModel)]="user.firstName" type="text" class="form-control" id="firstName" name="firstName" placeholder="First name" required pattern="{{ namePattern }}" title="{{ nameMessage }}">
        </div>
        <div class="form-group">
            <label>Last name</label>
            <input [(ngModel)]="user.lastName" type="text" class="form-control" id="lastName" name="lastName" placeholder="Last name" required pattern="{{ namePattern }}" title="{{ nameMessage }}">
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input [(ngModel)]="user.email" type="email" class="form-control" id="email" name="email" placeholder="Email address" required disabled>
        </div>
        <div class="form-group">
            <label>Country</label>
            <input [(ngModel)]="user.location.country" type="text" class="form-control" id="country" name="country" placeholder="Country">
        </div>
        <div class="form-group">
            <label>City</label>
            <input [(ngModel)]="user.location.city" type="text" class="form-control" id="city" name="city" placeholder="City">
        </div>
        <div class="form-group">
            <label>Address</label>
            <input [(ngModel)]="user.location.address" type="text" class="form-control" id="address" name="address" placeholder="Address">
        </div>
        <div class="form-group">
            <label>Mobile number</label>
            <input [(ngModel)]="user.mobileNumber" type="text" class="form-control" id="mobileNumber" name="mobileNumber" placeholder="Mobile number">
        </div>
        <div class="form-group">
            <label>Biography</label>
            <input [(ngModel)]="user.biography" type="text" class="form-control" id="biography" name="biography" placeholder="Biography">
        </div>
        <div class="form-group">
            <label>Car</label>
            <input [(ngModel)]="user.car" type="text" class="form-control" id="car" name="car" placeholder="Car">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Change info</button>
        </div>
    </form> 
</div>